
.log-type-default {
    &:before {
        position: absolute;
        left:0 ;
        top: 0;
        width: 5px;
        height: 100%;
        content: '';
        background-color: #88b6f2;
    }
}

.log-type-error {
    &:before {
        position: absolute;
        left:0 ;
        top: 0;
        width: 5px;
        height: 100%;
        content: '';
        background-color: #f5222d;
    }
}

.logtable-index {
    position: relative;
}

.logtable {
    position: relative;
}

.logtable-control {
    margin-bottom: 16px;
    // padding: 0 12px;
}

.logdetail-panel {
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    background-clip: padding-box;
    .label { 
        font-weight: bold;
        &:after {
            content: ':';
        }
    }
    .logdetail-row {
        margin: 10px 0;
        
        .logdetail-info {
            word-break:break-all;
        }
    }

    .logpanel-iconwrap {
        margin-right: 20px;
    }
}

.aegis-logtalbe {
    table-layout: fixed;
}

.search {
    width: 200px;
    margin-bottom: 20px;
}