html,
body {
    height: 100%;
    &::-webkit-scrollbar {
        width: 0;
    }
}

#root {
    min-height: 100%;
}

.ward-left-btn {
    position: absolute;
    left: -24px;
    top: 45%;
    padding: 30px 5px;
    background-color: #1890ff;
}
